.slider .track{
      -fx-background-color: linear-gradient(to left,lightblue,plum);
      -fx-background-radius: 0;
}
.slider .thumb{
    position: absolute;
	width: 1.7em;
	height: 1.7em;
      border-radius: 50%;

/*      -fx-pref-height:30px;
      -fx-pref-width:15px; */
      -fx-background-color: linear-gradient(to top,plum,lightblue);
      -fx-background-radius: 0;
}
	